@use "../vendors/bootstrap" as *;

.post-type-archive-projects.archive {

  .archive-projects {
    &__item {
      padding-bottom: 5rem;
      width: 47%;

      @media screen and (max-width: 991px) {
        width: 100%;
      }
    }
  }

  .layout__block {
    .primary-card {
      &--vertical {
        .primary-card {
          &__img-wrapper {
            &::before {
              background: var(--stw-theme-rose-color);
            }

            &::after {
              color: var(--stw-theme-secondary-color);
            }
          }
        }
      }
    }
  }

}