*
!.env.example
!.gitignore
!custom.ini
!docker-compose.yml
!wp-config-sample.php
!/.vscode
!/.vscode/*

!/.github
!/.github/workflows
!/.github/workflows/**

!/wp-content
/wp-content/*
!/wp-content/install.php

!/wp-content/acf-json
!/wp-content/acf-json/**

!/wp-content/themes
/wp-content/themes/*

!/wp-content/themes/kmoconnect
!/wp-content/themes/kmoconnect/**
/wp-content/themes/kmoconnect/node_modules
/wp-content/themes/kmoconnect/.DS_Store
/wp-content/themes/kmoconnect/vendor