@use "../vendors/bootstrap";

.footer {
  padding-top: 4rem;
  background-color: var(--stw-theme-primary-color);
  color: #fff;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  p:empty {
    margin: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: .97rem;

    @include bootstrap.media-breakpoint-up(md) {
      grid-auto-flow: column;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 1.25rem;
      color: #fff;
    }

    a {
      font-weight: 500;
      padding-bottom: 0.35rem;
      display: block;
      color: #fff;

      &:hover {
        color: var(--stw-theme-secondary-color);
      }
    }
  }

  &__col {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .stw-email__address,
    .stw-phone__mobile,
    .stw-phone__phone,
    .stw-address,
    .stw-vat {
      display: block;
    }

    .widget.widget_nav_menu {
      .menu {
        display: flex;
        gap: .75rem;
      }
    }
  }

  &__widget {

    &-1 {
      p {
        margin-bottom: 0;
      }
    }
  }

  .stw-social-media {
    &__icon {
      font-size: 1.5rem;
    }
  }

  .stw-address,
  .stw-phone,
  .stw-vat {
    margin-bottom: .5rem;
  }

  &__bottom {
    padding: 1.5rem 0;
    font-size: .875rem;

    a {
      font-weight: 400;
      color: rgb(255 255 255 / .6);

      &:hover {
        color: rgb(255 255 255 / 1);
      }
    }

    .widget_nav_menu,
    .menu {
      display: flex;
      align-items: center;
    }

    .legal-nav {
      display: flex;
      column-gap: .5rem;
      flex-wrap: wrap;

      .menu-item {
        a {
          position: relative;
          display: flex;
        }

        &:not(:last-child) {
          a {
            &::after {
              content: "|";
              padding-left: 0.5em;
              margin-right: -0.2em;
            }
          }
        }
      }
    }

    .copyright-nav {
      display: flex;
      column-gap: .5rem;
    }
  }
}