@use "../vendors/bootstrap";

.header {
  background-color: #fff;
  padding-inline: 1rem;
  border-bottom: 1px solid #eaeaea;

  &--fixed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: all 0.3s;
    background-color: transparent;
    border-bottom: none;
  }

  &--scroll {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    transition: all 0.3s;
    background-color: #fff;
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);

    .topbar {
      display: none;
    }
  }

  &__spacer {
    display: none;
  }
}

.admin-bar {
  .header {
    &--fixed {
      top: var(--wp-admin--admin-bar--height);
    }

    &--scroll {
      @include bootstrap.media-breakpoint-up(md) {
        top: var(--wp-admin--admin-bar--height);
      }
    }
  }
}