.navbar {
  &__offcanvas {
    --bs-offcanvas-width: 100%;
    --bs-offcanvas-bg: transparent;
    --bs-offcanvas-transition: opacity 0.45s ease-in-out;
  }

  .offcanvas {
    &-backdrop {
      backdrop-filter: blur(10px);
      transition-timing-function: cubic-bezier(.4, 0, .2, 1);
      transition-duration: .25s;
      z-index: 99;
      background: rgb(0 0 0 / .5);

      &.show {
        opacity: 1;
      }
    }

    &-body {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .offcanvas.showing,
  .offcanvas.show {
    .navbar-nav {
      --bs-navbar-color: #fff;
      text-align: center;
    }

    .nav-link {
      --bs-nav-link-font-size: var(--font-size-xl);
    }

    .btn-close {
      --bs-btn-close-color: #fff;
      --bs-btn-close-opacity: 1;
      --bs-btn-close-focus-shadow: 0;
      width: 3rem;
      height: 3rem;
      font-size: 2rem;
      --bs-btn-close-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512' width='100%25' height='100%25' fill='%23fff'%3E%3Cpath d='M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z'/%3E%3C/svg%3E");
    }
  }
}