@use "../fonts/typography" as *;
@use "../components/buttons" as *;
@use "../vendors/bootstrap";
@use "../utils/utils" as *;

:root {
  --stw-theme-font-base: 'DM Sans', sans-serif;
  --stw-theme-font-heading: 'Unna', serif;
  --stw-navbar-height: 13.625rem;
  --stw-theme-bg-body-color: #f9f7f6;
  --stw-theme-green-color: rgb(169 201 192);
  --stw-theme-dark-color: rgb(56 27 27);
  --stw-theme-rose-color: #f4c9c9;

  --webvision-bg-topbanner: var(--stw-theme-secondary-color);

  // bootstrap
  --bs-primary: var(--stw-theme-primary-color);
  --bs-secondary: var(--stw-theme-secondary-color);
  --bs-secondary-rgb: var(--stw-theme-secondary-color-comma-rgb);
  --bs-primary-rgb: var(--stw-theme-primary-color-comma-rgb);
  --bs-link-color: var(--stw-theme-primary-color);
  --bs-link-hover-color: var(--stw-theme-secondary-color);
  --bs-body-color: rgb(0 0 0);
  --bs-primary-border-subtle: var(--stw-theme-primary-color);

  // font sizes
  --font-size-sm: clamp(0.8rem, -0.11vi + 0.83rem, 0.74rem);
  --font-size-base: clamp(1rem, 0vi + 1rem, 1rem);
  --font-size-md: clamp(1.25rem, 0.18vi + 1.2rem, 1.35rem);
  --font-size-lg: clamp(1.5rem, 0.47vi + 1.44rem, 1.65rem);
  --font-size-xl: clamp(1.65rem, 0.92vi + 1rem, 2rem);
  --font-size-xxl: clamp(2rem, 1.45vi + 1.04rem, 2.75rem);
  --font-size-xxxl: clamp(3.05rem, 2.6vi + 2.4rem, 4.48rem);

  // swiper
  --swiper-theme-color: var(--stw-theme-primary-color);
}

.stw-dashboard-link {
  --stw-theme-dashboard-edit-color: var(--stw-theme-dark-color);
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: var(--stw-theme-font-base);
  scroll-behavior: smooth;
  color: var(--stw-theme-text-color, #000);
  font-size: var(--font-size-base);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &:not(.home) {
    background-color: var(--stw-theme-bg-body-color);
  }
}

a {
  color: var(--stw-theme-secondary-color);
  text-decoration: none;
  font-weight: 500;
  transition: 250ms ease-in-out;

  &:hover,
  &:focus {
    color: var(--stw-theme-dark-color);
  }
}

img {
  max-width: 100%;
  height: auto;
}

em {
  font-style: normal;
  color: var(--stw-theme-primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--stw-theme-font-heading);
  margin-bottom: 1rem;
  color: var(--stw-theme-heading-color);
}

h1,
.h1 {
  font-size: var(--font-size-xxxl);
}

h2,
.h2 {
  font-size: var(--font-size-xxl);
  font-weight: 400;
}

h3,
.h3 {
  font-size: var(--font-size-xl);
}

h4,
.h4 {
  font-size: var(--font-size-lg);
}

h5,
.h5 {
  font-size: var(--font-size-md);
}

.text-sm {
  font-size: var(--font-size-sm);
}

.text-base {
  font-size: 1rem;
}

[data-src] {
  cursor: pointer;
}

.grecaptcha-badge {
  transform: scale(0.85);
  transform-origin: 0 0;
}

.clear {
  clear: both;
}

body.gdpr {
  --stw-layout-blocks-padding: 3rem;

  h1,
  .h1 {
    font-size: 2rem;
  }

  h2,
  .h2 {
    font-size: 1.6rem;
  }
}

.page-small-container {
  .site .container {
    @extend .container-small;
  }
}