@use "../vendors/bootstrap";

.btn-group {
  display: block;

  &__wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  &--center &__wrapper {
    justify-content: center;
  }

  &--end &__wrapper {
    justify-content: flex-end;

    @include bootstrap.media-breakpoint-down(md) {
      justify-content: flex-start;
      margin-top: 1rem;
    }
  }
}