.stw-layouts {
  .hero {
    --height: 100vh;
    height: auto;

    &__title {
      font-size: var(--font-size-xxxl);
    }

    &__img {
      height: calc(var(--height) - var(--stw-navbar-height, 0px));
    }
  }
}

.logged-in {
  .hero {
    &__img {
      height: calc(var(--height) - var(--stw-navbar-height, 0px) - var(--wp-admin--admin-bar--height));
    }
  }
}