.stw-layouts {
  .hero {
    --height: 100vh;
    height: 100vh;

    &__title {
      font-size: var(--font-size-xxxl);
    }

    &__img {
      height: var(--height);
    }

    &__grid {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__header {
      display: flex;
      flex-direction: column;
    }

    &__title {
      font-family: 'Unna', serif;
      order: 2;
    }

    &__subtitle {
      order: 1;
      font-size: var(--font-size-base);
      font-weight: 400;
      font-family: 'Unna', serif;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 0;
    }
  }
}

.logged-in {
  .hero {
    &__img {
      height: calc(var(--height) - var(--wp-admin--admin-bar--height));
    }
  }
}