@use "../../components/buttons";
@use "../../vendors/bootstrap";

.woocommerce-toolbar {
  .offcanvas {
    --bs-offcanvas-padding-x: 1.5rem;
    --bs-offcanvas-padding-y: .5rem;
    margin-top: var(--wp-admin--admin-bar--height);

    .btn-close {
      --bs-btn-close-focus-shadow: 0;
    }

    h3 {
      font-size: var(--font-size-md);
    }
  }

  .wpc-filter-title {
    font-size: var(--font-size-base);
    font-weight: 500;
  }

  .wpc-filters-main-wrap {
    .wpc-filters-widget-controls-container a.wpc-filters-apply-button,
    a.wpc-filters-submit-button {
      @extend .btn;
      @extend .btn-primary;
      text-transform: initial;
      border-radius: 0;
    }

    .wpc-term-image-wrapper {
      border: 0;
      padding: 0;
      width: 120px;
      min-width: 70px;
      height: 50px;
    }

    .wpc-term-image-container {
      width: 100%;
      height: 100%;
    }

    a.wpc-filters-reset-button {
      border-radius: 0;
    }

    .wpc-filter-layout-submit-button {
      flex-direction: row;
    }

    input.wpc-label-input:checked + label {
      border-color: var(--stw-theme-primary-color);
    }

    @include bootstrap.media-breakpoint-up(md) {
      .wpc-filter-content input.wpc-label-input + label:hover {
        border-color: var(--stw-theme-primary-color);
      }

      .wpc-filter-content input.wpc-label-input + label:hover span.wpc-filter-label-wrapper,
      .wpc-filter-content input.wpc-label-input:checked + label span.wpc-filter-label-wrapper, {
        background-color: var(--stw-theme-primary-color);
      }

      .wpc-filter-stw_woo_brands input.wpc-label-input + label:hover span.wpc-filter-label-wrapper,
      .wpc-filter-stw_woo_brands input.wpc-label-input:checked + label span.wpc-filter-label-wrapper {
        background-color: transparent;
      }
    }
  }
}